<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Graduate Recruitment System</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@pusher/chatkit@0.7.12/dist/web/chatkit.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      .jumbotron {
        background-color: darkslategray;
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <div>
          <p style="text-align:right;">
            <a href="/logout" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
          </p>
        </div>
        <h1>Graduate Recruitment System</h1>
      </div>

      <div class="jumbotron">
          <div class="row">
            
            <!-- <div class="col-md-8 col-md-offset-2"> -->
              <!-- <h2>Admin Dashboard</h2>
              <br /><br /> -->
  
              <!-- <h4>Click to Edit</h4> -->
              <!-- <a href="/api/dashboard/position/<%= position.id%>"> -->
              <!-- <div class="list-group-item bg-success mb-3">
                <div class="card-header"><%= position.level%></div>
                <div class="card-body">
                  <h5 class="card-title">Title: <%= position.title%></h5>
                  <p class="card-text">Description: <%= position.description%></p>
                </div>
              </div>
            </div>
          </div> -->

          
          <% sender.forEach(function(sender){ %>
            <br/><br/>
          <div class="row">
            
              <!-- <div class="col-md-8"> -->
                
                <div class="card">
                  <div class="card-body">
  
                    <ul class="list-group">
                            <li class="list-group-item">
                            <div class="list-group-item bg-danger mb-3">
                                <div class="card-title">
                                    <p class="card-title">Sender Id: <%= sender.DISTINCT%></p>
                                  </div>
                                </div></li>

                          <% message.forEach(function(message){ %>
                            <% if (message.sender_id==sender.DISTINCT||message.receiver_id==sender.DISTINCT) { %>
                          <li class="list-group-item">
                              <div class="list-group-item bg-success mb-3">
                                <!-- <div class="card-header"><%= message.createdAt%></div> -->
                                <div class="card-body">
                                  <p class="card-title"><%= message.createdAt%></p>
                                  <h6 class="card-text"><%= message.message_txt%></h6>
                                </div>
                              </div>
                            </a>
                          </li>
                          <% }%>
                          <% })%>
                        </ul>
                    <hr>
                    <form id="sendMessage" method="get" action="/api/admin/message/<%= position.id%>/<%= sender.DISTINCT%>">
                      <div class="input-group">
                        <input type="text" autocomplete="off" name="messagetxt" class="form-control" placeholder="Type your message...">
                        <div class="input-group-append">
                          <button class="btn btn-primary">Send</button>
                        </div>
                      </div>
                    </form><br/>
                    <p style="text-align:right;">
                      <a href="/admin" class="btn btn-success" role="button">Go to Home</a>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <% })%>
            <!-- <form action="/api/dashboard/message" method="post"> 
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary"
                >
                  Messages
                </button>
                </button>
              </div>
            </form> -->
          </div>
        </div>
  </div>
  </body>
</html>
