<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Graduate Recruitment System</title>

    <!-- Latest compiled and minified CSS -->
    <!--
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      />
    -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/@pusher/chatkit@0.7.12/dist/web/chatkit.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      .jumbotron {
        background-color: darkslategray;
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <div>
          <h1>Graduate Recruitment System</h1>
          <p style="text-align:right;">
            <a href="/logout" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>

            <a href="/" class="btn btn-success btn-lg" role="button">
              <span class="glyphicon glyphicon-log-out"></span> Home
            </a>
          </p>
        </div>
      </div>

      <div class="jumbotron">
        <% application.forEach(function(application){
        position.forEach(function(position){ if
        (application.position_id==position.id) { %>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="list-group-item bg-success mb-3">
              <div class="card-header"><%= position.level%></div>
              <div class="card-body">
                <h5 class="card-title">Title: <%= position.title%></h5>
                <p class="card-text">Description: <%= position.description%></p>
                <p class="card-title">My Cover Letter</p>
                <h6 class="card-text"><%= application.cover_letter%></h6>
                <% if (application.decision=="A") { %>
                <p style="text-align:right;">You have accepted this offer</p>
                <% } else { %>
                <p style="text-align:right;">
                  <a
                    href="/api/dashboard/accept_offer/<%= application.id%>/<%= position.id%>"
                    formmethod="get"
                    class="btn btn-warning"
                    role="button"
                    >Accept Offer</a
                  >
                </p>
                <% }%>
              </div>
            </div>
          </div>
        </div>
        <% }%> <% })%> <% })%>
      </div>
    </div>
  </body>
</html>
